*{
    position: relative;
}


.Grid{
    /* display: grid; */
    /* grid-template-columns: auto auto auto auto auto auto auto auto auto auto auto auto auto ; */
    /* grid-template-columns: auto auto; */
    height: 500px;
    /* border: 1px solid black; */
    position: relative;
}
.each{
    padding: 30px;
    /* text-align: center; */

}
img{
    /* margin-top: 10px; */
    /* margin-bottom: 10px; */
    /* margin-right: 20px; */
    margin-left: 50px;
    height: 50px;
    
}
.row{
    grid-column: 2 / 7;
    text-align: left;
}
body{
    /* background-color: aqua; */
    font-family: Arial, Helvetica, sans-serif;
    padding: 50px;
    position: relative;;
}
nav{
    display: flex;
    justify-content: space-between;
    /* background-color: rgb(240, 221, 14); */

}
nav ul{
    display: flex;
    list-style: none;
}
nav li{
    padding: 10px;
    margin-top: 3px;
    /* font-weight: bold; */
}
nav li a{
    text-decoration: solid;
    color: black;
    /* transition: 0.2s; */

}
h3{
    padding: 12px;
    margin-left: 0;
    padding-left: 0;
    width: 14px;
}
nav li :active{
    color: rgb(0, 0, 0);
    background-color: bisque;
    padding: 13px;
    
}
/* nav li :hover{
    color: rgb(224, 119, 119);
    background-color: black;
    padding: 12px;
    transform: scale(1);
} */
nav img{
    width: 50px;
    height: 40px;
    margin-right: 5px;
    margin: auto;
}
.nav{
    display: flex;
}
button{
    width: 100px;
    background-color: rgba(98, 184, 227, 0.908);
    border-radius: 5px;
    position: relative;
    padding-top: 5px;
    padding-bottom: 5px;
}
.log{
    width: 100px;
    background-color: rgba(98, 184, 227, 0.908);
    border-radius: 5px;
    /* position: relative; */
    padding: 1px;
    /* padding-bottom: 1px; */
    height: 29px;
    margin-top: 10px;
}
.image{
    /* width: ;
    height: auto; */
    /* text-align: center; */
    margin-top: 200px;
    margin-right: 90px;
    margin-left: 0;
    
    
}
/* .footer{
    margin-left: 50px;
    height: 50px;
    padding: 8px;
    margin-left: 0;
    width: 14px;
} */
/* .low{
    display: flex;
    list-style: none;
    justify-content: space-between;
    text-align: center;
} */

   
.h{
    text-decoration: none;
    color: black;
    font-size: smaller;
    position: relative;;

}
footer{
    background-color: rgb(235, 237, 239);
    /* width: fit-content; */
    /* height: 300px; */
    position: relative;
/* text-align: center; */
}
.blue{
    color: rgb(43, 104, 226);
    font-size: medium;
}
.size1{
    font-size: 60px;
}

.janu{
    color:  rgb(43, 104, 226);
    text-decoration: none;
} 
.bottum{
    background-color: rgb(66, 64, 64);
    /* width: 1230px; */
    font-size: 15px;
    height: 25px;
    color: antiquewhite;
    text-align: center;
    padding: 3px;
    /* margin-top: 3px; */
    position: relative;
}
.nav1{
 /* text-align: center; */
    display: flex;
    /* margin: auto; */
    position: relative;
    justify-content: center;
}
.icon{
    text-align: center;
    /* justify-content: center; */
    margin-left: 100px;
    
}
.low{
    display: flex;
    list-style: none;
    position: relative;
    /* text-align: center; */
    width: 100%;
    justify-content: center;
    margin-left: 29px;
}
.to{
    display: flex;
}
.png{
    margin-left: 400px;
    height: 300px;
}
.grid1{
    display: grid;
}