form{
    /* width: 20%; */
    /* height:100px; */
    /* margin: auto;   */
    background-color: rgb(223, 206, 110);
    border-style: initial;
    /* border-color: rgba(10, 3, 3, 0.908); */
    /* border-width: 10px; */
    font-size: small ;
    color: rgb(0, 0, 0);
    /* padding: 50px; */
    /* margin-top: 100px;
    margin-left: 20px; */
    /* outline-color: rgba(7, 7, 4, 0.864); */
    outline-width: 1px;
    /* outline-style: groove; */
    /* outline-offset: 1px; */
    border-radius: 8px;
box-shadow: 0 2px 4px rgba(0, 0, 0, .1), 0 8px 16px rgba(0, 0, 0, .1);
margin: auto;
padding: 50px;
width: 400px;
margin: 0;
margin-top: 350px;
margin-left: 300px;

    
    }
button{
  width: 100%;
  background-color: rgb(0, 0, 128);
  border-radius: 5px;
  position: relative;
  padding: auto;
  color: aliceblue;
   }
 
  .footer{
    text-align: center;
    font-size: x-small;
  }
  .box{
     width: 100%;
  }
  .last{
    display: flex;
    flex-direction: row;
    text-align: center;
  }
  .last::after{
    margin-left: 100px;

  }
  .last::before{
    margin-right: 100px;
  }
  .last::after, .last::before{
    content: normal;
    flex: 3 3;
    border-bottom: 1px solid;
    margin: auto;

  }
  /* .j{
    width: 150px;
    border-color: rgb(182, 182, 182);
    border-top-style: solid;
    border-top-width: 1px;
    ox-sizing: border-box;
  } */
  .forgot{
    margin-left: 125px;
  }
  div{
    display: flex;
  }
  .coll{
    margin-top: 200px;
    margin-left: 200px;
    height: 1000px;
  }