/* *{
    position: relative;
} */

body{
    /* background-color: aqua; */
    font-family: Arial, Helvetica, sans-serif;
    padding: 50px;
}
nav{
    display: flex;
    justify-content: space-between;
    /* background-color: rgb(240, 221, 14); */

}
nav ul{
    display: flex;
    list-style: none;
}
nav li{
    padding: 10px;
    margin-top: 3px;
    /* font-weight: bold; */
}
nav li a{
    text-decoration: solid;
    color: black;
    /* transition: 0.2s; */

}
h2{
    padding: 8px;
    margin-left: 0;
    width: 14px;
}
nav li :active{
    color: rgb(0, 0, 0);
    background-color: bisque;
    padding: 13px;
    
}
/* nav li :hover{
    color: rgb(224, 119, 119);
    background-color: black;
    padding: 12px;
    transform: scale(1);
} */
nav img{
    width: 50px;
    height: 40px;
    margin-right: 5px;
    margin: auto;
}
.nav{
    display: flex;
}
nav ul button{
    width: 100px;
    background-color: rgba(98, 184, 227, 0.908);
    border-radius: 5px;
    position: relative;
    padding: 2px;
    /* padding-bottom: 1px; */
    height: 25px;
    margin-top: 10px;
}
.grid{
    /* display: grid; */
    /* grid-template-columns: auto auto; */
    /* border: 1px solid black; */
    height: 500px;
    
    
}
.cl2{
width: 500px;
position: relative;
}
.cl1{
    width: 500px;
}
input{
    width: 300px;
}
.about{
    font-size: 44px;

}
.bottum{
    background-color: rgb(66, 64, 64);
    /* width: 1230px; */
    font-size: 15px;
    height: 25px;
    color: antiquewhite;
    text-align: center;
    padding: 3px;
    /* margin-top: 3px; */
    position: relative;
}
.nav1{
 /* text-align: center; */
    display: flex;
    /* margin: auto; */
    position: relative;
    justify-content: center;
}
.icon{
    text-align: center;
    /* justify-content: center; */
    margin-left: 100px;
    
}

footer{
    background-color: rgb(235, 237, 239);
    /* width: fit-content; */
    /* height: 300px; */
    position: relative;
/* text-align: center; */
;
}
.blue{
    color: rgb(43, 104, 226);
    font-size: medium;
}
.size1{
    font-size: 60px;
}

.janu{
    color:  rgb(43, 104, 226);
    text-decoration: none;
} 
img{
    margin-left: 50px;
    height: 50px;
}
/* .low{
    display: flex;
    list-style: none;
    position: relative;
    /* text-align: center; */
    width: 100%;
    justify-content: center;
    
} */
.h{
    text-decoration: none;
    color: black;
    font-size: smaller;

}
.text{
    position: relative;
}
.coll{
    height: 450px;
    margin-left: 400px;
}